
@keyframes parachute {
0% {
        transform: rotate(40deg)
                    translate(0, 150px);
                
    }

    30% {
        transform: 
                rotate(-20deg)
                    translate(50px, 250px);
    }
    60% {
        transform: 
                rotate(20deg)
                    translate(100px, 300px); 
    }
    
    90% {
    transform: 
        rotate(0deg)
    translate(155px, 355px);
    }
  100% {
        transform: 
        rotate(-20deg)
        translate(500px, 800px);
    }
}

.balloonafter {
    /* position: absolute; */
    animation: parachute 5s ease-out;
    animation-fill-mode: forwards;
}



.balloon > img{
    -webkit-animation: mover 1s infinite  alternate;
      animation: mover 1s infinite  alternate;
  }
  
  
  @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
  
  
  .balloon > img{
     
    position: relative;
    margin-left: auto;
    margin-right: auto;

}  