.balloon > img{
    
        position: relative;
        margin-left: auto;
        margin-right: auto;
    
}

.questionBox {
  height: 20vh;
  width: 60%;
  font-size: 20px;
  padding-top: auto;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: rgba(211, 211, 211, 0.2)
}

.balloon > img{
  -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.balloon > img{
  
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}



.Hangman{
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
}

.button-alpha{
  background: #ffffff;
    height: 50px;
    font-weight: 700;
    border-radius: 100%;
    border: none;
    font-size: 25px;
}

.button-alpha:hover{
    background-color: rgba(128, 128, 128, 0.548)
}



.words{
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
    grid-template-columns: repeat(9,35px);
    grid-template-rows: repeat(3,55px);
}

.score{
    background-color: transparent;
    color: #000000;
    font-weight: bolder;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    font-size: larger;

}

.maingrid{
    display: grid;
    grid-template-columns: 100%;
}

.center{
    display: grid;
    grid-template-columns: 100%;
    grid-row: auto auto;
}





@media only screen and (max-width: 600px) {
    .words{
        text-align: center;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-gap: 5px;    
        grid-template-columns: repeat(9,35px);
        grid-template-rows: repeat(3,55px);
        font-size: 27px;
    }
    .button-alpha{
        background-color: #ffffff;
    }
  }

  .typewriter-text1 {
  animation-name: typewriter1;
}

.typewriter-text2 {
  animation-name: typewriter2;
}
.questionBox {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 1vh;
  height: 8vh;
  width: 90%;
  padding-top: 12px;
  margin: 0 auto 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgba(211, 211, 211, 0.3)
}
.typewriter-text1,
.typewriter-text2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 20s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}

.typewriter-text1::after,
.typewriter-text2::after {
  
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes typewriter1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 17em;
  }
}

@keyframes typewriter2 {
  0%,
  50%,
  100% {
    width: 0;
  }

  60%,
  90% {
    width: 17em;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.rodal-dialog{
    background-color: skyblue;
}

@keyframes slide {
  from { background-position: 0 0; }
  to { background-position: 0 600px; }
}
.scroll-bg{
  animation: slide 20s linear infinite;
}
