.balloon > img{
    
        animation: moveBaloon 2s ease-in infinite;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    
}

@keyframes moveBaloon {
    25% {
        top: -1vh;
    }
    50% {
        top: -2vh;
    }
    75% {
        top: -1vh;
    }
    100% {
        top: 0vh;
    }
}


.Hangman{
    width: 100%;
    margin-top: 10px;
    background: url("../img/SPOILER_WebBg202.png") ;
}

.center{
    display: flex;
    justify-content: center;
}

.button-alpha{
    height: 50px;
    font-weight: 700;
    border-radius: 100%;
    border: none;
    font-size: 25px;
}

.button-alpha:hover{
    background-color: rgba(128, 128, 128, 0.548);
}



.words{
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
    grid-template-columns: repeat(9,35px);
    grid-template-rows: repeat(3,55px);
}

.score{
    background-color: transparent;
    color: #000000;
    font-weight: bolder;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    font-size: larger;

}

.maingrid{
    display: grid;
    grid-template-columns: 100%;
}

.center{
    display: grid;
    grid-template-columns: 100%;
    grid-row: auto auto;
}





@media only screen and (max-width: 600px) {
    .words{
        text-align: center;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-gap: 5px;    
        grid-template-columns: repeat(9,35px);
        grid-template-rows: repeat(3,55px);
        font-size: 27px;
    }
  }
