

.Hangman{
    width: 100%;
    margin-top: 10px;
    background: url("../img/SPOILER_WebBg202.png") ;
}

.center{
    display: flex;
    justify-content: center;
}

.words{
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;    
    grid-template-columns: repeat(13,auto);
}

.score{
    background-color: transparent;
    color: #000000;
    font-weight: bolder;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    font-size: larger;

}

.maingrid{
    display: grid;
    grid-template-columns: 100%;
}

.center{
    display: grid;
    grid-template-columns: 100%;
    grid-row: auto auto;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .words{
        text-align: center;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-gap: 10px;    
        grid-template-columns: repeat(4,auto);
    }
  }
