body {
  background-color: lightgreen;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  
  }
  p{
    color: red;
  }
}


.cloud{ 
  margin-top:70px;
  width:350px;
  height:120px;
  background:#ECEFF1;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
  border-radius:100px;
}
.cloud::after, .cloud::before{
   content:"";
   position:relative;
   display:inline-block;
   background:inherit;
   border-radius:inherit;
}
.cloud::after{
   width:100px;
   height:100px;
   top:-220px;
   left:50px;
}
.cloud::before{
   width:180px;
   height:180px;
   top: -70px;
   left:130px;
}
