#buttonContainer {
  width: 50%;
  height: 4vh;
  margin: 6vh auto;
}

#sp {
  font-size: 30px;
  font-weight: 600;
  width: 20%;
  height: 8vh;
  margin: auto;
  line-height: 50px;
  text-align: center;
  color: #64c4f0;
  background-color: #fffafa;
  border-radius: 20px;
  cursor: pointer;
}

.wel__text{
  margin-top: 50px;
  font-size: 2em;
  /* background-color: red; */
  font-weight: 500;
  text-align: center;
}


@-webkit-keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.wobble-horizontal:hover, .wobble-horizontal:focus, .wobble-horizontal:active {
  -webkit-animation-name: wobble-horizontal;
  animation-name: wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.btn-square {
    cursor: pointer;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.balloon {
  display: flex;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
}

.typewriter {
  font-family: sans-serif;
  color: black;
  padding-left: 30px;
  display: block;
  font-weight: 600;
}
.typewriter-text {
  padding-right: 10px;
  color: red;
  border-right: solid red 7px;
  text-transform: uppercase;
  animation: cursor 1s ease-in-out infinite;
  font-weight: bold;
}
@keyframes cursor {
  from { border-color: red; }
  to { border-color: transparent; }
}

@media (max-width: 767.98px) {
  .typewriter { font-size: 35px; }
}
@media (min-width: 768px) {
  .typewriter { font-size: 60px; }
}

@media only screen and (max-width: 600px) {
      
#sp {
  font-size: 30px;
  font-weight: 600;
  width: 50%;
  height: 8vh;
  margin: auto;
  line-height: 50px;
  text-align: center;
  color: #64c4f0;
  background-color: #fffafa;
  border-radius: 20px;
  cursor: pointer;
}  
}

.bg{
  background-image: url("./img/mobilebgland.png");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 420px;
  height: 100vh;
  margin-bottom: 0px;
  width: 100vw;
}

