




@-webkit-keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.wobble-horizontal:hover, .wobble-horizontal:focus, .wobble-horizontal:active {
  -webkit-animation-name: wobble-horizontal;
  animation-name: wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.btn-square {
    cursor: pointer;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@keyframes cursor {
  from { border-color: red; }
  to { border-color: transparent; }
}

@media (max-width: 767.98px) {
  .typewriter { font-size: 35px; }
}
@media (min-width: 768px) {
  .typewriter { font-size: 60px; }
}


.bg{
  background-image: url("./img/mobilebgland.png");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 780px;
  height: 100vh;
  margin-bottom: 0px;
  width: 100vw;
  animation: slide 10s infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slide {
  
  from { 
  background-position: bottom;  
  }
  to { 
    top:1000px;
  }
}

 .cloud__class{
  width: 100%;

  background: url("./img/mobilebgsky.png") repeat 0 0;
  -webkit-animation: slide 8s linear infinite;
  box-sizing: border-box;


}


@-webkit-keyframes slide {
  to { background-position: 0 0; }
  from { background-position: 0 -400px; }
}