*{
  margin: 0;
  padding: 0;
}


body {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  background: url("./img/mobilebgsky.png");
    text-align: center;
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
